<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthorizationWCFContract" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8070/" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IAuthorizationWCFContract"
          contract="AuthorizationServiceReference.IAuthorizationWCFContract"
          name="BasicHttpBinding_IAuthorizationWCFContract" />
    </client>
  </system.serviceModel>
</configuration>